@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  height: 100vh;
}

#app > div {
  height: 100%;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

a {
  font-family: 'adapter-mono-pe-variable', sans-serif;
  font-variation-settings:
    'wght' 500,
    'slnt' -13,
    'ital' 0,
    'BORD' 300;
}

h1,
h2 {
  font-family: 'gridlite-pe-variable', sans-serif;
  font-variation-settings:
    'wght' 700,
    'BACK' 0,
    'RECT' 0,
    'ELSH' 4;
}

h1 {
  font-size: 5rem;
  margin: 0;
}

a,
.green {
  text-decoration: none;
  color: #0033ff;
  transition: 0.4s;
  padding: 3px;
}

/* @media (hover: hover) {
  a:hover {
    background-color: #0033ff;
  }
} */

/* @media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
