@import './base.css';

#app {
  /* display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; */
  height: 100%;
  width: 100%;
}

header {
  position: sticky;
  background-color: var(--color-background-mute);
  /* border: 2px solid #000000; */
  padding: 1rem 0;
}

header div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.writing {
  height: 100%;
  padding: 1em;
}

.writing h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding-bottom: 1em; */
}

.writing p {
  padding-bottom: 1em;
}

.writing .button-choices {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

h3 {
  font-family: 'adapter-mono-pe-variable', sans-serif;
  font-variation-settings:
    'wght' 300,
    'slnt' 0,
    'ital' 0,
    'BORD' 300;
}

h1,
h2,
p,
a {
  /* all: unset; */
  /* font-family: 'adapter-mono-pe-variable', sans-serif;
  font-variation-settings:
    'wght' 400,
    'slnt' 0,
    'ital' 0,
    'BORD' 300; */
  font-family: 'sigurd-variable', sans-serif;
  font-variation-settings:
    'wght' 500,
    'slnt' 0;
}

button {
  all: unset;
  font-size: 1rem;
  background-color: #efefef;
  color: var(--vt-c-black);
  padding: 1px 6px;
  border: 1px solid #666666;
  border-radius: 2px;
  cursor: pointer;
  font-family: 'sigurd-variable', sans-serif;
  font-variation-settings:
    'wght' 500,
    'slnt' -10;
}

h1::before,
h2::before,
p::before,
a::before,
button::before {
  content: ''; /* Empty content for spacing */
  display: block; /* Make it a block element */
  height: 0.2em; /* Set the height */
}

/* h1,
h2 {
  font-family: 'gridlite-pe-variable', sans-serif;
  font-variation-settings:
    'wght' 700,
    'BACK' 0,
    'RECT' 0,
    'ELSH' 4;
} */

h1 {
  font-size: 1.5rem;
  margin: 0;
}

h2 {
  font-size: 1.5rem;
  margin: 0;
}

/* button {
  all: unset;
  background-color: #efefef;
  color: var(--vt-c-black);
  padding: 1px 6px;
  outline: 1px solid #666666;
  border-radius: 2px;
  cursor: pointer;
  font-family: 'Xanh Mono', monospace;
  font-style: normal;
  font-size: 16px;
} */

a {
  text-decoration: none;
  color: #0033ff;
  /* transition: 0.4s; */
  /* padding: 3px; */
}

/* @media (hover: hover) {
  a:hover {
    background-color: #0033ff;
  }
} */

@media (min-width: 1024px) {
  /* body {
    display: flex;
    place-items: center;
  } */

  h2 {
    font-size: 2rem;
    margin: 0;
  }

  /* #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  } */

  header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
  }
}
